.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
  border: #4ECCA3 solid 5px;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  border: #4ECCA3 solid 2px;
}
hr{
   border: #4ECCA3 solid 2px;
}
h4{
  margin: 25px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
  border: #4ECCA3 solid 2px;
  border-radius: 15cm;
}
button{
  margin: 20px;
  font-family: 'Lobster', cursive;
  border-style: groove;
  border-color: #4ECCA3;
  border: #4ECCA3 solid 2px;
  border-radius: 5cm;
  font-size: 2rem;
  background-color: #393E46;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
